.flex {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.text {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
